BOT_TOKEN=8962624290:AAGAMgKDqYZQKZck_icEZWME0QcZBXrPECo
ADMIN_ID=8390911265
CHANNEL_ID=-1004370717794
CHANNEL_ID_2=-1003927864641
UPSTASH_REDIS_REST_URL=https://vast-filly-187849.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAt3JAAIgcDJmNTcwZTQ4Y2JlYTM0MzMxODkzODliYjE1MTgzNDc5Zg
CRON_SECRET=mySecret12345
